{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
{{ notfound }}
<form action="/item" method="post">
    <div class="form-group">
        <input id="searchterm" class="form-control" name="item" placeholder="QID for article" type="text">
    </div>
    <div id="searchresult"></div>
</form>
<ul></ul>
<p>Item: {{ item }} </p>
<p>Title: {{ title }} </p>
<p>Abstract: {{ abstract }} </p>
<p>Keywords:</p>
<ul>
    {% for keyword in keywords %}
    <li>{{ keyword }}</li>
    {% endfor%}

</ul>

{% endblock %}