{% extends "layout.html" %}

{% block title %}
Searchy - About
{% endblock %}

{% block main %}

<h4>About Searchy</h4>
Searchy is a Wikidata-powered, semantic search engine.

<p>
    Dashboard visualizations are rendered via <a target="_blank" href="https://pypi.org/project/wbib/">wbib</a>
    ("wah-bib").</p>

<p> Questions, issues and comments can be communicated via the app's <a target="_blank"
        href="https://github.com/lubianat/searchy">
        GitHub repository</a>.</p>


<p>Searchy is a part of a series of projects related to Wikidata-based
    management of scientific literature information. Other projects include: </p>
<ul>
    <li>Wikidata Bib - A bibliography management tool based on Wikidata
        (<a target="_blank" href="https://github.com/lubianat/wikidata_bib">source</a>)</li>
    <li>ANN - A tool to annotate scientific text with Wikidata IDs
        (<a target="_blank" href="https://github.com/lubianat/ann">source</a>)</li>
    <li>Topic Tagger - Adding keywords to articles on Wikidata
        (<a target="_blank" href="https://lubianat.shinyapps.io/topictagger/">source</a>)
    </li>
</ul>

<div class="content has-text-centered">
    <h4>
        Do you want to improve Wikidata-powered science dashboards?
    </h4>
    <ul style="display: inline-block; text-align: left">
        <li>
            Check Lauren Dupuis'
            <a target="_blank" href="https://laurendupuis.github.io/Scholia_tutorial/">Tutorial</a>
            for beginners
        </li>
        <li>
            Add articles to Wikidata via
            <a href="https://sourcemd.toolforge.org/index_old.php">
                SourceMD
            </a>
            (needs 4-day account)
        </li>
        <li>
            Batch add topics via
            <a target="_blank" href="https://lubianat.shinyapps.io/topictagger/">
                TopicTagger
            </a>
            (needs 4-day account)
        </li>
    </ul>
    <br>
    <h4>Credits</h4>
    <p>
        This content is available under a <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">
            Creative Commons CC0</a> license.

    </p>
    <p>
        The SPARQL queries used in the dashboards are adapted from <a target="_blank"
            href="https://scholia.toolforge.org/">Scholia</a>

    </p>
</div>
{% endblock %}