{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}

<div class="row container">
    <h4>Search Wikidata by keyword</h4>
    </br>
</div>
<div class="row container">
    <form method="get">
        <div class="row">
            <div class="col">
                <input autocomplete=off id="searchterm" class="form-control" name="" placeholder="Select a main subject"
                    type="text" value=>
                <div id="searchresult">

                </div>
                {% if not main_subject %}

                <div class="row container">
                    See example:
                    <ul>
                        <li><a href="/search/Q105406038"> single cell transcriptomics</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>


            {% if main_subject %}
            <div class="col">
                <select name="gender">
                    <option disabled selected value="">Gender</option>
                    {% for label, id in genders.items() %}
                    <option value="{{ id }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="region">
                    <option disabled selected value="">Region</option>
                    {% for label, id in regions.items() %}
                    <option value="{{ id }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">

                <input type="submit" value="Filter">
            </div>
            {% endif %}

    </form>
</div>

{% if main_subject %}
<div class="row container">
    Main subject:
    <ul>
        {% for key, value in main_subject.items() %}
        <li> <a target="_blank" href="https://wikidata.org/wiki/{{ key }}">{{ value }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{{ dashboard | safe}}
{% endblock %}